@page
@model IndexModel
@{
    ViewData["Title"] = "Search";
}

<div class="container-lg">
    <h2 class="text-light">Search for a movie</h2>
    <form method="get">
        <p>
            <input type="text" asp-for="SearchString" />
			<input type="submit" class="btn btn-secondary" value="Search" />
        </p>
    </form>
	@foreach (var item in Model.Movie)
	{
		<div class="flex-container">
			<div class="card movie_card">
				<img src="@item.Poster" class="card-img-top" alt="@item.Title">
				<div class="card-body">
					<i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="Play Trailer"></i>
					<h5 class="card-title justify-content-around">@item.Title</h5>
					<span class="movie_info">@item.Year</span>
					<span class="movie_info float-right"><i class="fa-brands fa-imdb"></i>@item.imdbRating</span>
					<form method="post">
						<input type="submit" class="btn btn-secondary" value="Add to Watchlist" />
					</form>
				</div>
			</div>
			<div>
				<h3 class="text-light">@item.Title ( @item.Year )</h3>
				<p class="movie-info text-light">
					Plot: @item.Plot
				</p>
				<p class="movie-info text-light">
					Genre: @item.Genre
				</p>
				<p class="movie-info text-light">
					Runtime: @item.Runtime
				</p>
				<p class="movie-info text-light">
					Writer: @item.Writer
				</p>
			</div>
        </div>
	}
	
</div>
    
