@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<script src="https://kit.fontawesome.com/8cafc277ac.js" crossorigin="anonymous"></script>

<div class="container center">
	<p>
	<form method="get" class="search-bar">
			<input type="text" asp-for="SearchString" placeholder="Search for a movie..." />
			<button type="submit"><img src="~/images/searchicon.png"></button>
	</form>
	</p>
</div>

@try 
{
	@foreach (var item in Model.SearchedMovie)
	{
		<div class="center">
		<div class="moviecard">
			<div class="moviecard-poster">
				<img src="@item.Poster" alt="@item.Title">
			</div>
			<div class="moviecard-body">
				<span class="moviecard-title">@item.Title</span>
				<p>
					<span>@item.Year</span>
					<span>@item.Runtime</span>
					<span>@item.Genre</span>
				</p>
				<p>
					<span>IMDB: @item.imdbRating</span>
					<span>Metascore: @item.Metascore</span>
				</p>
				<p class="moviecard-plot">
					@item.Plot
				</p>
				<div class="moviecard-buttons">
					<form method="post">
						<input type="submit" class="btn btn-secondary" value="Add to Watchlist" asp-page-handler="AddToWatchlist" />
					</form>
				</div>
				</div>
		</div>
		</div>
	}
}		
catch
{
	@foreach (var item in Model.Movies)
	{
		<div class="center">
		<div class="moviecard">
			<div class="moviecard-poster">
				<img src="@item.Poster" alt="@item.Title">
			</div>
			<div class="moviecard-body">
				<span class="moviecard-title">@item.Title</span>
				<p>
					<span>@item.Year</span>
					<span>@item.Runtime</span>
					<span>@item.Genre</span>
				</p>
				<p>
					<span>IMDB: @item.imdbRating</span>
					<span>Metascore: @item.Metascore</span>
				</p>
				<p class="moviecard-plot">
					@item.Plot
				</p>
				<div class="moviecard-buttons">
				@if (item.Seen == true)
				{
					<form method="post">
						<button class="btn btn-success" id="@item.Title" type="submit" name="Seen" value="@item.Title" asp-page-handler="Seen">Seen</button>
					</form>
				}
				else
				{
					<form method="post">
						<button class="btn btn-secondary" id="toggleseen" type="submit" name="Seen" value="@item.Title" asp-page-handler="Seen">Mark as seen</button>
					</form>
				}
				<form method="post">
					<button class="btn btn-danger" id="delete" type="submit" name="Delete" value="@item.Title" asp-page-handler="Delete">Delete</button>
				</form>
				</div>
			</div>
		</div>
		</div>
	}
}








