@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<script src="https://kit.fontawesome.com/8cafc277ac.js" crossorigin="anonymous"></script>

<div>
	<h2 class="text-light">Search for a movie</h2>
	<form method="get">
		<p>
			<input type="text" asp-for="SearchString" />
			<input type="submit" class="btn btn-secondary" value="Search" />
		</p>
	</form>
</div>
<div class="flex-container">

	@try 
	{
		@foreach (var item in Model.SearchedMovie)
		{
			<div class="flex-container">
				<div class="card movie_card">
					<img src="@item.Poster" class="card-img-top" alt="@item.Title">
					<div class="card-body">
						<i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="Play Trailer"></i>
						<h5 class="card-title justify-content-around">@item.Title</h5>
						<span class="movie_info">@item.Year</span>
						<span class="movie_info float-right"><i class="fa-brands fa-imdb"></i>@item.imdbRating</span>
						<form method="post">
							<input type="submit" class="btn btn-secondary" value="Add to Watchlist" />
						</form>
					</div>
				</div>
				<div>
					<h3 class="text-light">@item.Title ( @item.Year )</h3>
					<p class="movie-info text-light">
						Plot: @item.Plot
					</p>
					<p class="movie-info text-light">
						Genre: @item.Genre
					</p>
					<p class="movie-info text-light">
						Runtime: @item.Runtime
					</p>
					<p class="movie-info text-light">
						Writer: @item.Writer
					</p>
				</div>
			</div>
		}

	}		
	catch
	{
		@foreach (var item in Model.Movies)
		{
			<div class="card movie_card">
				<img src="@item.Poster" class="card-img-top" alt="@item.Title">
				<div class="card-body">
					<i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="Play Trailer"></i>
					<h5 class="card-title">@item.Title</h5>
					<span class="movie_info">@item.Year</span>
					<span class="movie_info float-right"><i class="fa-brands fa-imdb"></i>@item.imdbRating</span>
				</div>
				<div class="flex-container">
					@if (item.Seen == true)
					{
						<form method="post">
							<button class="btn btn-success" id="@item.Title" type="submit" name="Seen" value="@item.Title">Seen</button>
						</form>
					}
					else
					{
						<form method="post">
							<button class="btn btn-secondary" id="@item.Title" type="submit" name="Seen" value="@item.Title">Mark as seen</button>
						</form>
					}
					<button type="button" class="btn btn-danger">Delete</button>
				</div>
			</div>
		}
	}

	
</div>






